* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Forum;
  src: url('./assets/fonts/Forum/Forum-Regular.ttf');
  font-weight: 400;
} 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
} 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
} 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  } 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
} 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
} 

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
} 


:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  font-family: 'Forum', cursive;
  background-color: #030303;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  width: calc(100% - 40px);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.logo {
  height: 50px;
  transition-duration: 400ms;
}

.logo:hover {
  filter: invert(61%) sepia(27%) saturate(438%) hue-rotate(356deg) brightness(84%) contrast(85%);
}

.main-menu-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  max-width: 755px;
  width: 100%;
  height: 50px;
  align-items: center;
  margin-left: 20px;

}

.menu-link {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 2px;
  transition-duration: 500ms;
}

.menu-link:hover{
  filter: invert(61%) sepia(27%) saturate(438%) hue-rotate(356deg) brightness(84%) contrast(85%);
}

.menu-link:active{
  filter: invert(61%) sepia(27%) saturate(438%) hue-rotate(356deg) brightness(84%) contrast(85%);
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: none;
}

.main-heading {
  color: #FFFFFF;
  font-family: Forum;
  font-weight: 400;
  font-size: var(--font1);
  line-height: 90px;  
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 150px;
}

h2 {
  font-family: Forum;
  font-weight: 400;
  font-size: var(--font1);
  line-height: 90px;  
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}


.main-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 24px;
}

.main-btn {
  position: relative;
  margin-top: 76px;
  width: 360px;
  height: 75px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #710707;
  border: none;
  border-radius: 10px;
  transition-duration: 500ms;
  cursor: pointer;
}

.main-btn:hover{
  background-color: #9D8665;
}

.btn-link{
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}

section {
  width: 100%;
}

.main-text {
  position: relative;
  z-index: 10;
  transition-duration: 500ms;
}

.welcome-section .container {
  position: relative;
  height: 815px;
}

.welcome-slider {
  position: absolute;
  width: 1000px;
  height: 750px;
  right: 0px;
  top: 0px;
  z-index: 0;
}

.gradient-filter {
  position: absolute;
  width: 1000px;
  height: 750px;
  right: 0px;
  top: 0px;
  background-size: 1000px;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  z-index: 1;
}

.slider-imgs {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.slider-imgs > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slide {
  display: none;
}

.slide.active-slide {
  display: block;
}

.slider-ctrls {
  position: absolute;
  bottom: -60px;
  right: 0px;
  width: 600px;
  height: 120px;
  background-color: #030303;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  padding: 0 75px;
  z-index: 100;
}

.slide-number {
  width: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider-bullets {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 0 60px 0 55px;
}

.slider-bullet {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition-duration: 500ms;
}

.slider-bullet:hover{
  background-color: #D2B183;
}

.yellow {
  color: #CAAA7D;
}

.active-slide-bullet {
  background-color: #D2B183;
}

.slider-btns {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px 0; */
  width: 30px;
  height: 40px;
  border: none;
  background:none;
  outline: none;
  transition-duration: 500ms;
  overflow: hidden;
  cursor: pointer;
}

.slider-btn > img {
  padding: 16px 0;
}

.hidden {
  opacity: 0;
  transition-duration: 500ms;
}

.slider-btn:hover {
  outline: none;
  filter: invert(61%) sepia(27%) saturate(438%) hue-rotate(356deg) brightness(84%) contrast(85%);
}

.visiting-section {
  padding-top: 75px;
  background-color: #FFFFFF;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.to-flex {
  display: flex;
  justify-content: space-between;
}

.explore-section .container {
  display: block;
}

.tile {
  width: 440px;
  margin-bottom: 77px;
  cursor: pointer;
}

.gold {
  color: var(--font-gold);
}

.red {
  color: var(--dark-red)
}

h3 {
  padding-top: 25px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.main-line {
  margin-top: 25px;
  margin-bottom: 75px;
  color: var(--dark-red);
  background-color: var(--dark-red);
  border: 0px;
  height: 3px;
}

.additional-line {
  color: var(--dark-red);
  width: 300px;
  background-color: var(--dark-red);
  border: 0px;
  height: 2px;
  margin-top: 9px;
  transition: ease-in-out;
  transition-duration: 1s;
}

.tour-description {
  padding-top: 10px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.small-tour-description {
  padding-top: 10px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.tile-img {
  width: 100%;
  max-width: 440px;
}

.tour-link {
  text-decoration: none;
  color: #000000;
}

.tour-link:hover > .additional-line {
  width: 100%;
}

.two-halfs-div {
  display: flex;
  justify-content: space-between;
}

.one-half-div {
  width: 100%;
  width: 660px;
}

.big-pic {
  width: 720px;
}

.one-half-div p {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding-bottom: 25px;
}

.explore-section .container {
  padding: 75px 0;
}

.tickets-section {
  background-color: #FFFFFF;
}

.tickets-section .container {
  padding: 75px 0;
}

.top-side p {
  width: 720px;
}

.top-side {
  display: flex;
  padding-bottom: 75px;
  justify-content: space-between;
}

.top-side p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
}

video[poster]{
  object-fit: cover;
  height: 629px;
  width:100%;
  }

.video-section {
  padding-top: 75px;
  background-color: #FFFFFF;
  padding-bottom: 75px ;
}

.art-gallery-section {
  padding: 75px 0 0 0;
  background-color: #030303;
}

.gallery-pics {
  position: relative;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1960px;
  width: 100%;
  overflow: hidden;
}

.pics-col {
max-width: 456px;
width: 100%;
}

.gallery-pic {
  margin-bottom: 24px;
  max-width: 100%;
}

.first-col, .third-col {
  padding-top: 75px;
}

.gallery-gradient {
  position: absolute;
  width: 100%;
  height: 360px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}

.video-controls {
  display: flex;
  height: 85px;
  background-color: #000000;
  position: relative;
  top: -5px;
  align-items: center;
}

.video-btn {
  overflow: hidden;
  width: 30px;
  height: 30px;
  color: #B3B3B3;
  background-color: #000000;
  border: none;
  outline: none;
  transition-duration: 400ms;
}

.play-btn {
  margin-left: 30px;
}

.volume-btn {
  width: 38px;
  margin-right: 50px;
}


.big-play-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden; 
  position: absolute;
  display: block;
  top: 375px ;
  right: 610px;
  width: 220px;
  height: 220px;
  transition-duration: 400ms;
}


.video-container {
  position: relative;
}

.video-btn:hover {
  overflow: hidden;
  cursor: pointer;
  color: #989898;
}

.video-btn img:hover{
  filter: invert(62%) sepia(14%) saturate(0%) hue-rotate(158deg) brightness(94%) contrast(95%);

}

.big-play-btn img:hover {
  filter: invert(62%) sepia(14%) saturate(0%) hue-rotate(158deg) brightness(94%) contrast(95%);
}

.full-screen-btn {
  width: 36px;
  height: 36px;
}

.range {
  display: flex;
  position: relative;
  align-self: center;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor:ew-resize;
  background: #FFFFFF;
}

.progress {
  margin: 0 50px;
  width: 100%;
  max-width: 929px;
  background: linear-gradient(to right, #710707 0%, #710707 50%, #C4C4C4 50%, #C4C4C4 100%);
}

.volume {
  width: 100%;
  max-width: 155px;
  background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  margin-right: 50px;
}

.radio-options label {
  display: block;
  margin-top: 50px;
  position: relative;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-left: 40px;
  cursor: pointer;
}

.radio label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.video-slider {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.video-slider-controls {
  max-width: 200px;
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.video-slider-btn {
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: none;
  transition-duration: 400ms;

}

.video-slider-bullets {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.video-slider-bullet {
  height: 12px;
  width: 12px;
  background-color:#999999;
  border: none;
  border-radius: 50%;
  transition-duration: 400ms;
  cursor: pointer;
}

.video-slider-bullet:hover {
background-color: #710707;
}

.video-slider-btn > svg {
  fill: #999999;
  cursor: pointer;
  transition-duration: 400ms;

}



.video-slider-btn > svg:hover {
  fill: #710707;
  /* filter: invert(6%) sepia(84%) saturate(5282%) hue-rotate(357deg) brightness(97%) contrast(98%); */

}

.active-bullet {
  background-color: #333333;
}

.ticket-subheadings {
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  text-transform: none;
}

.radio-options {
  display: block;
}

.radio-options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.radio-options input:checked {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.radio-options input:checked ~ .checkmark::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%;
  top: 3px;
  left: 3px;

}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.number {
  all: unset;
  width: 50px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.amount-btn {
  font-family: Roboto;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  background: none;
  border-style: none;
  width: 19px;
  margin: 0 14px;
  cursor: pointer;
}

.number-of-tickets {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  width: 100%;
  width: 150px;
  height: 50px;

  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
}

.right {
  text-align: right;
}

.amount p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 0;
  padding-bottom: 0;
}

.basic-ticket {
  margin-top: 11px;
}

.senior-ticket {
  margin-top: 35px;
}

.total p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #000000;
  margin-top: 50px;
}

.buy-now {
  position: relative;
  margin-top: 50px;
  height: 50px;
  width: 175px;
  left: 0px;
  top: 0px;
  border: none;
  background: #000000;
  border-radius: 2px;
  outline: none;

  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition-duration: 400ms; 

  cursor: pointer;
}

.buy-now:hover{
  background: #9D8665;
  color: #000000;
}

.buy-now:focus {
  outline: none;
}


.amount-settings {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.parallax {
  background-image: url(./assets/img/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%;
}

.contacts-section {
  background-color: #FFFFFF;
}

.contacts-section .container {
  padding: 75px 0;
}

.contacts-address {
  width: 282px;
}

.address-subheading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 50px;
}

address ul li {
  list-style: none;
  margin-bottom: 25px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
  transition-duration: 400ms;
}

address ul li:hover{
  color: #9D8665;
}

address ul li:hover > a {
  color: #9D8665;
}

address ul li a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.address-content {
  display: flex;
  justify-content: space-between;
}

.address-content img {
  width: 960px;
  height: 100%;
}

.footer .container {
  padding: 75px 0 50px 0;
  display: flex;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  width: 366px;
  margin-left: 145px;
  padding-top: 8px;
}

.footer .container nav ul li {
  cursor: pointer;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition-duration: 400ms;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 336px;
  height: 48px;
  padding-bottom: 55px;
}

.social div {
  border: 1px solid #666666;
  border-radius: 50%;
  color: #666666;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
}

.social a div svg {
  fill: #FFFFFF;
  transition-duration: 400ms;
}

.social div:hover {
  border-color: #9D8665;
}


.social a div:hover > svg {
  fill: #9D8665;
}

.nav-logo-container {
  display: flex;
}

.creds {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 52px 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.creds-item, .creds-link {
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  transition-duration: 400ms;
}

.devider{
  background: #666666;
  width: 100%;
  height: 3px;
}

.creds-link:hover {
  color: var(--font-gold);
}

/* For ripple effect */
button .circle {
  position: absolute;
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 400ms ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

iframe {
  border: none;
}

.popup-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  transition: background-color 1s ease;
}

.popup-background.hidden {
  background: none;
  transition-duration: 500ms;

}

.popup-container.hidden {
  transform: translateX(-100vw);
  transition-duration: 500ms;

}

.popup-background.delay {
  z-index: -1;
}

.popup-container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 845px;
  padding: 91px 235px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform 1s ease;
  transform: translateX(0%);
}

.close-cross {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.booking-title {
  margin-top: -5px;
  padding-top: 0;
  padding-bottom: 15px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.booking-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
  padding-bottom: 10px;
}

.booking-hr {
  background: #740C11;
  opacity: 0.9;
  width: 100%;
  height: 3px;
  margin-bottom: 58px;
  outline: none;
  border: none;
}

.form-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9D8665;
  padding-bottom: 5px;
}

.booking-hr-mini {
  background: #740C11;
  opacity: 0.9;
  height: 2px;
  outline: none;
  border: none;
  margin-bottom: 18px;
}

.basic-ticket-form,
.senior-ticket-form {
  display: flex;
  justify-content: space-between;
}

.basic-ticket-form > p,
.senior-ticket-form > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #030303;

}

.basic-ticket-form > p {
  padding-bottom: 18px;
}


.form-side-left {
  max-width: 400px;
  width: 100%;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

.date-container,
.time-container,
.name-container,
.phone-container,
.email-container,
.ticket-type-container
 {
  width: 190px;
  height: 45px;
  border: solid 1px #030303;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 20px;

}

.name-container,
.phone-container,
.email-container,
.ticket-type-container {
  width: 100%;
}


.date-container:focus,
.time-container:focus{
  border: solid 1px #740C11;
  outline: none;
}

#date-picker,
#time-picker,
#phone,
#name,
#email,
#ticket-type {
  border: none;
  outline: none;
  width: 100%;
  padding: 0 15px;
  height: 100%;
}

#date-picker::placeholder,
#time-picker::placeholder,
#name::placeholder,
#phone::placeholder,
#email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;  
  color: #030303;
  display: flex;
  align-items: center;

}

select, select > option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;  
  color: #030303;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: #FFFFFF;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select > option {
  height: 45px;
  display: flex;
  align-items: center;
  outline: none;
}

#different-bg {
  background-color: #E7E7E7;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  outline: none;
  color: #030303;
}

form input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  outline: none;
}

.ticket-number {
  background: #FFFFFF;
  border: 1px solid #030303;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
}

.number-of-tickets-form {
  display: flex;
  justify-content: space-between;
  width: 105px;
  height: 25px;
  border: solid 1px #030303;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #030303;
}

.amount-btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030303;
  color: #FFFFFF;
  width: 35px;
  outline: none;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

}

.form-side-right {
  max-width: 530px;
  width: 100%;
  border: solid 1px #030303;
  height: 100%;
  padding: 25px 30px;
}

.overview {
  padding: 0 0 2px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.overview-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740C11;
  opacity: 0.9;
  padding-bottom: 10px;
}

.chosen-date,
.chosen-time,
.chosen-type {
  display: flex;
  align-items: center;
}

.chosen-date,
.chosen-time {
  padding-bottom: 5px;
}

.chosen-type {
  padding-bottom: 22px;
}

.chosen-date > p,
.chosen-time > p,
.chosen-type > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  padding-left: 15px;
}

.mini-louvre-pic {
  position: absolute;
  width: 150px;
  height: 120px;
  left: 1026px;
  top: 115px;
  background: url(./assets/img/mini-louvre-pic.jpg);
}

.ticket-summery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ticket-summery-left {
  display: flex;
  align-items: center;
}

.tickets-summery-text > p,
.ticket-summery-right > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: #030303;

}

.tickets-summery-number > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A4A4A3;
}

.tickets-summery-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  width: 32px;
  height: 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;

}

.booking-hr-right {
  width: 100%;
  height: 3px;
  border: none;
  outline: none;
  background: #740C11;
  margin-top: 9px;
  margin-bottom: 10px;
}

.booking-total {
  display: flex;
  justify-content: space-between;
}

.booking-total-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #030303;
}

.booking-total-sum {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #030303;
}

.card-front {
  z-index: 1000;
  position: relative;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 2px;
}

.card-back {
  z-index: 1;
  width: 360px;
  height: 211px;
  position: absolute;
  top: 30px;
  left: 110px;
  background-color: #939393;
  border-radius: 2px;
}

.black-stripe {
  width: 100%;
  height: 45px;
  background-color: #161615;
  margin-top: 25px;
  margin-bottom: 15px;
}

#card-num {
  background: #FFFFFF;
  border: 0.5px solid #A4A4A3;
  width: 215px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #161615;

  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-num {
  display: flex;
  flex-direction: column;
}

.card-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  margin-bottom: 5px;
}

.month-date {
  display: flex;
  justify-content: space-between;
  max-width: 215px;
  width: 100%;
}

#card-expiration-month,
#card-expiration-year,
#card-cardholder {
  background: #FFFFFF;
  border: 0.5px solid #A4A4A3;
  width: 72px;
  height: 35px;

  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;


  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #161615;

  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#card-cardholder {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.card-expiration,
.card-cardholder {
  display: flex;
  flex-direction: column;
}

.cards {
  position: relative;
  margin-top: 10px;
}

.visa {
  position: absolute;
  top: 34px;
  right: 20px;
  width: 55px;
  height: 16px;
  background-image: url(./assets/img/Visa.png);
}


.mastercard {
  position: absolute;
  width: 53px;
  height: 32px;
  top: 65px;
  right: 20px;

  background-image: url(./assets/img/Mastercard.png);
}

#cvv {
  position: absolute;
  top: 105px;
  right: 20px;

  background: #FFFFFF;
  border: 0.5px solid #A4A4A3;
  width: 75px;
  height: 35px;

  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.cvv-label {
  position: absolute;
  top: 85px;
  right: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #161615;
}

.cvv > p {
  position: absolute;
  top: 146px;
  right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #161615;
}

.book-btn {
  position: relative;
  top: 56px;
  left: 250px;
  background-color: #710707;
  color: #FFFFFF;
  width: 220px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 500ms;
}

.book-btn:hover{
  background: #9D8665;
  color: #000000;
}

.book-btn:focus {
  outline: none;
}

.card-expiration-month-container,
.card-expiration-year-container {
  display: flex;
}

.arrows-container {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 35px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.arrows-container > button {
  background-color: #FFFFFF;
  overflow: hidden;
  border: none;
}

.card-arrow-up,
.card-arrow-down {
  display: flex;
  justify-content: center;
  height: 50%;
}

.card-arrow-up {
  align-items: flex-end;
  padding-bottom: 1px;
}

.card-arrow-down {
  padding-top: 1px;
}

.burger-menu-nav {
  display: none;
}

@media (max-width: 1024px) {

  .burger-menu-nav {
    display: block;
  }

  .header {
    height: 130px;
  }

  .logo {
    width: 189px;
    height: 33px;
  }

  .logo-link {
    width: 189px;
    height: 33px;
    display: flex;
    justify-content: start;
    
  }

  .welcome-section .container {
    height: 585px;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
    width: calc(100% - 40px);
    padding: 0;
  }

  .section {
    padding: 0;
    overflow: hidden;
  }

  h1 {
    padding: 50px 0 25px 0;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    display: block;
  }

  .main-description {
    margin: 0;
    padding-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .main-btn {
    padding: 0;
    margin: 0;
  }

  .main-btn > a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
  }

  .welcome-slider {
    max-width: 700px;
    max-height: 525px;
    width: 100%;
    height: 100%;
  }

  .gradient-filter {
    max-width: 700px;
    max-height: 465px;
    width: 100%;
    height: 100%;
  }

  .slider-ctrls {
    width: 100%;
    max-width: 700px;
    padding-left: 225px;
  }

  .slider-bullet {
    width: 12px;
    height: 12px;
  }

  .slider-bullets {
    max-width: 140px;
    width: 100%;
    margin: 0 45px;
  }

  .main-menu-nav {
    display: none;
  }

  #menuToggle {
  display: block;
  position: absolute;
  top: 56px;
  right: 20px;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }


  #menuToggle input {
    display: block;
    width: 32px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }


  #menuToggle span {
    display: block;
    width: 32px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #FFFFFF;
    z-index: 1;
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -4px);
    background: #FFFFFF;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 5px);
  }

  #menu {
    position: absolute;
    left: -984px;
    top: 0;
    width: 297px;
    margin-top: 60px;
    padding-left: 55px;
    padding-top: 35px;
    height: 585px;
    
    background: #030303;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li,
  #menu li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  .menu-link {
    width: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

  }

  #menuToggle input:checked ~ ul {
  transform: none;
  }

  .container header-container {
    margin: 0;
    padding: 0;
  }

  .slide-number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .section-title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    padding-top: 60px;
  }

  .container {
    padding: 0;
  }

  .main-line {
    margin: 20px 0 0 0;
  }

  .tiles {
    margin: 60px 108px;

  }

  .tile {
    max-width: 330px;
    width: 100%;
    margin-bottom: 60px;
  }

  .two-halfs-div {
    display: block;
  }

  .one-half-div {
    padding-top: 60px;
    width: 100%;
  }

  .one-half-div > p {
    padding-bottom: 62px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
  }

  .explore-section .container {
    padding: 0;
  }

  .big-pic {
    position: relative;
    max-width: 720px;
    width: 100%;
    margin-bottom: 60px;
  }

  .to-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-side > p {
    display: none;
  }

  .top-side {
    padding-bottom: 40px;
  }

  .big-play-btn img {
    width: 152px;
    height: 152px;
  }

  .big-play-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 312px;
    right: calc(100vw - 66%);
  }
  
  video[poster] {
    object-fit: cover;
    max-height: 444px;
    width: 100%;
  }

  .to-flex {
    display: block;
  }

  .video-controls {
    height: 60px;
  }

  .video-btn {
    overflow: visible;
  }
  
  .play-btn {
    margin-left: 40px;
  }

  .volume-btn {
    margin-right: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .volume-btn img {
    width: 26px;
    height: 20px;
  }

  .progress {
    margin: 0 31px 0 30px;
    max-width: 564px;
    width: 100%;
  }

  .volume {
    max-width: 143px;
    width: 100%;
    padding: 0;
    margin-right: 30px;
  }

  .full-screen-btn {
  margin-right: 40px;
  }

  .full-screen-btn img {
    height: 26px;
    width: 26px;

  }

  .video-slider > iframe {
    max-width: 300px;
    width: 100%;
    height: 170px;
 
  }

  .video-slider-controls {
    margin-bottom: 60px;
  }

  h3 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #000000;
  }

  .tour-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
  }

  .small-tour-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;
  }

  .less-letter-spacing {
    letter-spacing: 3px;
  }

}